.grid{
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 600px;
}

body{
    background-color: darkcyan;
}

h2, h1{
    color: white;
    margin-left: 500px;
}

.grid{
    margin-left: 500px;
    margin-top: 50px;
}